.content {
	width: 1180px;
	margin: 0 auto;
	padding: 0 50px;
}

a:focus,
a:active,
a:hover {
	color: #000000;
	text-decoration: underline;
}

.pc {
	display: block;
}

.mobile {
	display: none;
}

.sp_com {
	display: inline-block;
	background: url(../img/sp_com.png)no-repeat;
	overflow: hidden;
	vertical-align: top;
	text-indent: -9999px;
}

#wrap {
	overflow: hidden;
}

.header {
	position: absolute;
	width: 100%;
	height: 81px;
	text-align: center;
	z-index: 100;
}

.header h1 {
	position: absolute;
	top: 0;
	left: 50px;
	padding-top: 14px;
}

.header h1 a {
	display: block;
	width: 110px;
	height: 48px;
	color: transparent;
	background: url(../img/sp_com.png) no-repeat -300px 0;
	text-indent: -9999px;
}

.gnb_wrap {
	position: relative;
	display: inline-block;
	margin-top: 22px;
	zoom: 1;
	z-index: 100;
}

.gnb_wrap .gnb_tit {
	float: left;
}

.gnb_wrap .gnb_tit > a {
	display: block;
	font-size: 18px;
	margin: 0 35px;
	height: 37px;
	line-height: 36px;
	text-decoration: none;
}

.gnb_wrap .gnb_tit > a:hover {
	color: #2d5b79;
	font-weight: bold;
}

.gnb_wrap .gnb_tit > a span {
	position: relative;
}

.gnb_wrap .gnb_tit > a span:hover:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -9px;
	width: 100%;
	height: 1px;
	background-color: #2d5b79;
}

.gnb_sub {
	display: none;
	margin-top: 45px;
}

.gnb_sub li > a {
	color: #fff;
	line-height: 29px;
}


.header .spot {
	position: absolute;
	right: 50px;
	top: 0;
}

.header .spot li {
	position: relative;
	float: left;
}

.header .spot li:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 7px;
	background-color: #ccc;
	transform: translateY(-50%);
}

.header .spot li:first-child:after {
	display: none;
}

header .spot li a {
	display: block;
	height: 81px;
	padding: 0 10px;
	line-height: 81px;
}

.header .spot li a:hover {
	text-decoration: underline;
}

.header .spot li:last-child a {
	padding-right: 0;
}

.bg_gnb {
	display: none;
	position: absolute;
	width: 100%;
	top: 80px;
	height: 230px;
	background-color: rgba(45, 91, 121, 0.9);
}


.visual {
	position: relative;
	padding: 80px 50px;
}

.visual .prev,
.visual .next {
	display: block;
	position: absolute;
	top: 50%;
	width: 25px;
	height: 47px;
	transform: translateY(-50%);
	background: url(../img/sp_com.png) no-repeat;
	color: transparent;
	z-index: 60;
}

.visual .prev {
	left: 82px;
	background-position: -129px -60px;
}

.visual .next {
	right: 82px;
	background-position: -158px -60px;
}


.visual .con > div {
	height: 690px;
}

.visual .con .slide {
	background: url(../img/bg_main02.jpg) no-repeat center;
}

.visual .con .main_slide2 {
	background: url(../img/bg_main03.jpg) no-repeat center;
}

.visual .con .main_slide3 {
	background: url(../img/bg_main04.jpg) no-repeat center;
}

.visual .con .main_slide4 {
	background: url(../img/bg_main05.jpg) no-repeat center;
}

.visual .con .slide > div {
	width: 1108px;
	margin: 0 auto;
	text-align: center;
}

.visual .con .slide p {
	font-size: 26px;
	color: #fff;
	letter-spacing: -1px;
	font-weight: 300;
}

.visual .con .slide span.sp_icon {
	display: inline-block;
	width: 124px;
	height: 110px;
	margin: 235px 0 4px;
	color: transparent;
	background: url(../img/sp_com.png) no-repeat;
}

.visual .con .main_slide1 span.sp_icon {
	background-position: 0 -252px;
}

.visual .con .slide p span.str {
	font-weight: 500;
	font-size: 30px;
}

.visual .con .main_slide2 span.sp_icon {
	background-position: -126px -252px;
}

.visual .con .main_slide3 span.sp_icon {
	background-position: -252px -252px;
}

.visual .con .main_slide4 span.sp_icon {
	background-position: -378px -252px;
}


.product ul {
	text-align: center;
	margin: 0 auto;
	padding: 46px 0 42px;
	font-size: 0;
}

/*font-size:0 -> display:inline-block 의 여백을 해결 하기 위해서 부모에 적용한다.*/

.product li {
	display: inline-block;
	text-align: center;
	padding: 0 55px;
}


.product a {
	display: block;
	color: #000;
	font-size: 15px;
}

.product a:hover {
	font-weight: 500;
	color: #2d5b79;
}

.product li a:before {
	content: '';
	display: block;
	width: 64px;
	height: 52px;
	background: url(../img/sp_com.png) no-repeat;
	margin: 0 0 26px;
}

.product li:nth-child(1) a:before {
	background-position: -3px -118px;
}


.product li:nth-child(2) a:before {
	background-position: -75px -118px;
}

.product li:nth-child(3) a:before {
	background-position: -148px -118px;
}

.product li:nth-child(4) a:before {
	background-position: -219px -118px;
}

.product li:nth-child(5) a:before {
	background-position: -292px -118px;
}

.product li:nth-child(6) a:before {
	background-position: -364px -118px;
}

.product li:nth-child(1) a:hover:before {
	background-position: -3px -184px;
}

.product li:nth-child(2) a:hover:before {
	background-position: -75px -184px;
}

.product li:nth-child(3) a:hover:before {
	background-position: -148px -184px;
}

.product li:nth-child(4) a:hover:before {
	background-position: -219px -184px;
}

.product li:nth-child(5) a:hover:before {
	background-position: -292px -184px;
}

.product li:nth-child(6) a:hover:before {
	background-position: -364px -184px;
}



.Mslide {
	position: relative;
	padding: 40px 0 50px;
	background-color: #dfd9d1;
	text-align: center;
	overflow: hidden;
}

.Mslide .bx-wrapper {
	margin: 0 auto;
	width: 1280px !important;
	height: 480px;
}

.Mslide .bx-viewport {
	overflow: visible !important;
}

.Mslide .bx-wrapper .bx-prev {
	left: 0;
	background: url(../img/sp_com.png) -318px -542px;
}

.Mslide .bx-wrapper .bx-next {
	right: 0;
	background: url(../img/sp_com.png) -351px -542px;
}


.Mslide .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	left: 61%;
	bottom: -5px;
	width: 31px;
	margin-left: -15.5px;
}

.Mslide .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	position: absolute;
	left: 48%;
	transform: translateX(-48%);
	bottom: 0;
}

.Mslide .content {
	width: 100%;
	padding: 0;
}

.Mslide .h2_tit {
	font-size: 30px;
	font-weight: 600;
	color: #000;
}

.Mslide .s_tit {
	margin: 3px 0 38px;
	font-size: 16px;
}

.Mag_slide_box {
	overflow: hidden;
	height: 500px;
}

.mag_cont {
	background-color: #fff;
	height: 430px;
	width: 1180px !important;
	margin: 0 50px;
}

.mag_inner_left {
	display: block;
	width: 800px;
	height: 100%;
	float: left;
	background: url(../img/magazine_img1.jpg) no-repeat center;
}

.mag_inner_right {
	float: left;
	width: 380px;
	background-color: #fff;
	padding: 20px 20px 22px;
	box-sizing: border-box;
	text-align: left;
}

.mag_inner_right li {}

.mag_inner_right li:nth-child(1) a {
	margin-top: 0;
}

.mag_inner_right a {
	display: block;
	position: relative;
	height: 82px;
	margin-top: 20px;
	padding: 20px 0 0 100px;
	font-weight: 500;
	font-size: 14px;
	box-sizing: border-box;
}

.mag_inner_right p.Einex {
	font-size: 16px;
}

.mag_inner_right a:hover p.Einex {
	text-decoration: underline;
}

.mag_inner_right img {
	position: absolute;
	left: 0;
	top: 0;
	width: 82px;
	height: 82px;
	overflow: hidden;
}


.carousel-cell {
	margin-right: 100px;
}

.Bslide {
	position: relative;
	padding: 40px 0 90px;
	background-color: #f2f0ed;
	text-align: center;
}



.Bslide .h2_tit {
	font-size: 30px;
	font-weight: 600;
	color: #000;
}

.Bslide .content {
	position: relative;
}

.Bslide ul {
	margin-top: 40px;
}

.magazine_button .button.active {
	opacity: 1;
}

.homedeco_slide_box .bx-wrapper {
	max-width: 1280px !important;
}

.homedeco_cont {
	margin-right: 20px;
	height: 540px;
	background-color: #fff;
}

.homedeco_cont > a {
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.homedeco_cont img {
	direction: block;
	width: 100%;
	height: 280px;
}

.homedeco_cont .btext_w {
	box-sizing: border-box;
	padding: 26px 28px 24px;
}

.homedeco_cont .btext_w .tit {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 3em;
	text-align: left;
	letter-spacing: -2px;
}


.homedeco_cont .btext_w .list {
	position: relative;
	padding-left: 67px;
	margin-bottom: 5px;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	text-align: left;
}

.homedeco_cont .btext_w .list span {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 14px;
	font-weight: 500;
}

.homedeco_cont .btext_w .tel {
	overflow: visible;
	text-overflow: inherit;
	white-space: normal;
	text-align: left;
	letter-spacing: -1.5px;
}

.Yslide {
	padding: 40px 0 100px;
}

.Yslide .h2_tit {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	color: #000;
}

.Yslide ul {
	margin-top: 40px;
}

.yutub_cont {
	margin-right: 20px;
}

.yutub_cont img {
	width: 100%;
	height: 160px;
}

.yutub_cont p {
	padding: 0 15px;
	margin-top: 16px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 3em;
}

.infor {
	padding: 55px 0;
	background: url(../img/bg_main_business.jpg)no-repeat center;
}

.infor_wrap {
	text-align: center;
}

.infor_wrap .find_m {
	display: inline-block;
	float: left;
	width: 280px;
	height: 280px;
	background: url(../img/bg_key_link03.jpg)no-repeat;
	margin-right: 20px;
	text-align: center;
	text-decoration: none !important;

}

.infor_wrap .find_tit {
	padding-top: 153px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}

.infor_wrap .find_m:hover {
	background: url(../img/bg_key_link03_hover.jpg)no-repeat;
	background-size: cover;
}

.infor_wrap .tit_hide {
	display: none;
	margin-top: 12px;
	color: #fff;
}

.infor_wrap .find_m:hover .tit_hide {
	display: block;
}

.notice_wrap {
	float: left;
	display: inline-block;
	position: relative;
	width: 280px;
	height: 280px;
	margin-right: 20px;
	box-sizing: border-box;
	background-color: #f2f0ed;
}

.notice_wrap h3 {
	display: inline-block;
	height: 65px;
	line-height: 65px;
	color: #2d5b79;
	font-size: 25px;
	font-weight: 500;
	line-height: 65px;
}

.plus_r {
	position: absolute;
	right: 23px;
	top: 17px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #fff;
	background-position: -196px -60px;
	border-radius: 50%;

}

.note_list_w {}

.note_list {
	border-top: 1px solid #fff;
	text-align: left;

}

.note_list a {
	display: block;
	width: 100%;
	height: 106px;
	padding: 15px 30px 17px;
	box-sizing: border-box;
}

.note_list a .ntit {
	min-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 1.2em;
	height: 40px;
	text-align: left;
	white-space: normal;
}

.note_list a .nstit {
	display: inline-block;
	margin-top: 19px;
	color: #929292;
	text-decoration: none;
	font-size: 14px;
}

.find_p {
	float: right;
	display: inline-block;
	position: relative;
	width: 280px;
	height: 280px;
	box-sizing: border-box;
	background-color: #fff;
	padding: 0 20px;
}

.find_p h3 {
	color: #2d5b79;
	font-size: 25px;
	font-weight: 500;
	height: 65px;
	line-height: 65px;
}

.select_b {
	display: block;
	position: relative;
	height: 45px;
	background-color: #f2f0ed;
	text-align: left;
	border: none;
	z-index: 1;
}

.select_b::before {
	content: '';
	position: absolute;
	top: 19px;
	right: 17px;
	width: 0;
	height: 0;
	border-top: 5px solid #000;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

.select_b label.menu_selec {
	position: absolute;
	height: 45px;
	line-height: 45px;
	padding: 0 35px 0 15px;
	z-index: -1;
	color: #000;
}

.select_b select.selec_list {
	width: 100%;
	height: 100%;
	font-family: inherit;
	font-size: inherit;
	color: #000;
	border: none;
	background-color: transparent;
	border-radius: 0;
	padding: 0 35px 0 15px;
	opacity: 0;
	appearance: none;
}

.input_text {
	display: block;
	position: relative;
	width: 240px;
	height: 45px;
	margin-top: 10px;
	padding: 0 20px;
	background-color: #f2f0ed;
	text-align: left;
	border: none;
	box-sizing: border-box;
}

.input_text::placeholder {
	font-size: 16px;
}

button.submut_b {
	width: 240px;
	height: 45px;
	margin-top: 30px;
	background-color: #2d5b79;
	color: #fff;
}

.footer_nav {
	background-color: #383f43;
	height: 70px;
}

.footer_nav .content {
	position: relative;
}

.fnav_w {
	display: inline-block;
}

.fnav_w li {
	position: relative;
	display: inline-block;
	padding: 0 10px;
}

.fnav_w li a {
	display: block;
	color: #fff;
	line-height: 70px;
	font-size: 14px;
}

.fnav_w li a:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 8px;
	background-color: #70767a;
}

.fnav_w li:last-child a:after {
	display: none;
}


.fnav_right {
	display: inline-flex;
	position: absolute;
	top: 0;
	right: 50px;
	padding: 13px 0;
}

.phone_service {
	display: inline-block;
	background-color: #2a3033;
	color: #fff;
	text-align: center;
	padding: 3px 10px;
}

.phone_service > span:first-child {
	font-size: 14px;
}

.phone_service span.phone_n {
	font-size: 15px;
}

.phone_service p {
	font-size: 12px;
}

.footer {
	font-size: 14px;
	color: #fff;
}

.family_list {
	position: relative;
	display: inline-block;
	margin-left: 9px;
	background-color: #fff;
}

.family_list > a {
	display: inline-block;
	width: 200px;
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 14px;
}

.family_list:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 5px solid #000;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}


.family_li {
	display: none;
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	background-color: #f4f4f4;
	z-index: 1;
}

.family_li a {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
}

.family_li a:hover {
	background-color: #cedae2;
}

.footer_add {
	background-color: #4c5459;
	padding: 30px 0;
}

.footer_add .content {
	position: relative;
}

.footer_add .ftitle_img {
	display: block;
	width: 130px;
	height: 50px;
	background: url(../img/sp_com.png) no-repeat -150px 0;
	text-indent: -9999px;
	margin-bottom: 32px;

}

.ftitle_img {
	line-height: 27px;
}

.fot_address {
	display: inline-block;
}

.fot_address .bar {
	display: inline-block;
	width: 1px;
	height: 27px;
	background: url(../img/sp_bar.png) no-repeat -10px -209px;
	margin: 0 10px;
	text-indent: -9999px;

}

.Sns {
	display: inline-block;
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
}

.blog_sns,
.insta_sns,
.youtub_sns {
	display: inline-block;
	width: 45px;
	height: 45px;
	background: url(../img/sp_com.png) no-repeat;
	background-color: #383f43;
	margin-left: 10px
}

.blog_sns {
	margin-left: 0;
	background-position: -318px -605px;
}

.insta_sns {
	background-position: -365px -605px;
}

.youtub_sns {
	background-position: -413px -605px;
}


@media all and (max-width:640px) {
	.pc {
		display: none;
	}

	.mobile {
		display: block;
	}

	.header {
		height: 50px;
	}

	.header h1 {
		top: 10px;
		left: 20px;
		padding-top: 0;
	}

	.header h1 a {
		display: block;
		width: 70px;
		height: 28px;
		color: transparent;
		background-position: 0 0;
		background-size: 400px 400px;
	}

	.gnb_mob {
		/*display: none;*/
		position: absolute;
		left: 0;
		top: 50px;
		width: 100%;
		border-top: 1px solid #e5e5e5;
		background-color: rgba(0, 0, 0, .8);
	}


}
